@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

$cabin: 'Cabin',
arial,
sans-serif;

$darkGrey: #9c9c9c;
$lightGrey: #c4c4c4;

@mixin heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 2em;
}

@mixin body {
  font-weight: normal;
  font-size: 1.7em;
  color: $darkGrey;
}

@mixin padding {
  padding: .4rem .6rem;
}

@mixin error {
  font-size: 1.3em;
  background: #bb0000 ;
  color: #fff;
}

$break-lg: 1140px;
$break-md: 720px;
$break-sm: 576px;