.weather-forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .forecast-details {
        text-align: center;

        .forecast-icon {
            max-width: 50px;
            max-height: 50px;
            margin: 0 0 12px 0;
        }

        .forecast-temp {
            margin: 12 0 0 0;
            @include body;
            @include padding;
        }

        .forecast-day {
            margin: 12 0 12 0;
        }

    }
}