.weather-forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .forecast-details {
        // border: 1px red solid;
        text-align: center;

        .forecast-temp {
            font-size: 2em;
            margin: 12 0 0 0;
        }

        .forecast-day {
            margin: 12 0 12 0;
        }
    }
}