header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 50px 0;

    .search-heading {
        @include heading;
    }

    .search-input-container {
        position: relative;
        display: flex;

        & input {
            @include heading;
            border: none;
            margin: 0 12px;
        }

        & .search-input {
            position: absolute;
            outline: none;

            & input {
                background: transparent;
            }

            & input:focus {
                outline: none;
            }
        }

        & .autocomplete-input input {
            position: relative;
            color: #999999;
        }
    }

    .secondary-txt {
        // border: 1px red solid;
        align-self: baseline;
    }

}

.set-scale-btns{
    position: absolute;
    bottom: 48px;
    left: 50%;
    font-size: 1.5em;
    .set-scale-btn{
        border: none;
        background: none;
        cursor: pointer;
        font-size: 1.5em;



        &.set-celsius{
           
        }
    }
}