.weather-icon,
.weather-temperature,
.weather-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon {
    div {
        @media screen and (max-width: $break-sm) {
            width: 150px !important;
            height: 150px !important;
        }
    }

}

.weather-temperature {
    font-size: 10em;

    @media screen and (max-width: $break-sm) {
        font-size: 6em;
    }
}

.weather-details {
    flex-direction: column;

    .weather-info {
        @include padding;
        @include body;
        display: flex;
        width: 100%;
        max-width: 150px;

        .weather-info-icon {
            min-width: 55px;
            min-height: 35px;
            display: flex;
            justify-content: center;
            margin: 0 12px 0 0;
            user-select: none;

            &.clouds img {
                height: 25px;
            }

            &.wind img {
                height: 30px;
            }

            &.rain img {
                height: 30px;
            }
        }

        .weather-info-unit {
            font-size: 0.6em;
            align-self: flex-end;
            margin: 0 0 6px 6px;
        }
    }
}